@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 1rem;
  margin-top: 0;
  margin-bottom: 0;
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App {
  max-width: 600px;
  margin: auto;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  height: 100vh;
}

.main-bar {
  flex: 1;
  height: max-content;
}
